    /* 04) Pàgina: zonaAssetjament.html */

    
        #titol-llarg { 
            display: inline-block; 
            height:4vh; 
            width:350px; 
            text-align: center; 
            margin-top:3vh; 
            padding:1.5vh 0; 
            background-color:rgb(151, 101, 174); 
            border-bottom-right-radius: 20px; 
            border-top-right-radius: 20px;
        }
        
        #boto-centrarMapa3 {
            display:inline-block; 
            font-size:32px; 
            margin-left: 20px; 
            position:relative; 
            top:1vh;  
            transform: translateY(-2.5vh); /* Alinear verticalment amb Títol: Comunicar Assetjament a la Vía Pública (#titol-llarg) */
            color:#000000; 
            padding:2vh 20px; 
            background-color: rgb(217, 195, 222); 
            border-radius:20px; 
            font-weight:bold;
        }
            #boto-centrarMapa3:active {
                background-color: rgb(151, 101, 174); 
                color: #ffffff; 
                cursor:pointer; 
            }

        #contenidor-mapa-assetj {
            position:absolute; 
            left:50%; 
            margin-left:-300px; 
            margin-top: 4vh; 
            width:600px; 
            height:28vh; 
            border: solid 2px #000000;
            z-index: 100; 
            color:blue;
        }

            #map-canvas-assetj { /* map3 */
                position:absolute; 
                width:100%; 
                height:100%; 
                background-color: #000000; 
                border: solid 2px #000000; 
                z-index:1; 
            }
        #boto-marcarMapa3 { /* Botó "Soc aquí" */
            display:inline-block; 
            margin-left: 20px; 
            color:#000000; 
            padding:20px; 
            background-color: rgb(217, 195, 222);
            border-radius:20px; 
            font-weight:bold; 
            font-size:1.5vh; /* 1.5vh funciona bé en aquest cas */
        } 
            #boto-marcarMapa3:active {background-color: rgb(151, 101, 174); color: #ffffff; cursor:pointer; }
        #correccioSelect { /* Corregir desplaçament a la dreta del formulari */
            margin-left:-275px; 
        }
        #correccioSelect2 {
            margin-left: -245px;
        }

        .comentari-assetjament {
            height:9vh; /* Canviar tamany del textarea del comentari per tal que la pàgina mesuri 100vh d'alçada */
        } 
